* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: TTNorms-Regular, BasisGrotesquePro, Arial, sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header-burger {
    display: none;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 8px #999;
    z-index: 2;
}

.header-body {
    position: relative;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.navigation-menu {
    width: 33%;
    justify-content: left;
    align-items: center;
    list-style: none;
    column-gap: 28px;
    z-index: 2;
}

p {
    font-weight: 400;
    color: #0B3B3C;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.header-menu {
    width: 30%;
    justify-content: right;
    align-items: center;
    z-index: 2;
}

.header-menu li{
    list-style: none;
    margin-right: 20px;
}

.logo-container {
    width: 33%;
    justify-content: center;
    z-index: 3;
}

.nav_link {
    font-size: 12px;
    line-height: 14px;
    color: #0b3b3c;
    text-transform: uppercase;
    text-decoration: none;
}

.header img {
    margin-left: 28px;
}

.buy-bucket {
    z-index: 4;
}

main {
    grid-template-columns: 100%;
    grid-template-areas:
        "registration-block"
        "info-block"
        "products-block"
        "team-block"
        "promotion-block"
        "block-of-articles"
        "footer-block";
        padding: 80px 0px 0px 0px;
}

.registration-block {
    grid-area: registration-block;
}

.registration-container {
    height: 765px;
    background-image: url("../img/main-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.registration-container-wrap {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    flex-direction: column;
    flex-wrap: wrap;
}

.registration-container h1 {
    font-size: 54px;
    line-height: 80px;
    color: #0B3B3C;
    text-align: center;
    font-weight: 700;
    margin: 20px;
}

.registration-container p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
}

.get_started_btn {
    width: 320px;
    height: 45px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 400;
    background-color: #7E0707;
    border: none;
    margin: 10px;
}

.view_treatment_btn {
    width: 320px;
    height: 45px;
    color: #7E0707;
    background: transparent;
    border: 2px solid #7E0707;
    margin: 10px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 400;
}

.get_started_btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.view_treatment_btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.services-container {
    padding: 40px;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400px;
    color: #0B3B3C;
    justify-content: space-between;
}

.services-container div {
    align-items: center;
}

.services-container p {
    padding-left: 20px;
}

.info-block {
    grid-area: info-block;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 35px;
    line-height: 62px;
    text-align: center;
    color: #0b3b3c;
    padding: 80px 20px 20px;
}

.simple-rating {
    max-width: 165px;
    margin: 0 auto;
}

.info-block a {
    color: #00B67A;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
}

.rated-word {
    color: #73CF11;
}

.simple-rating p a:hover {
    opacity: 0.7;
}

.simple-rating-items {
    justify-content: center;
    align-items: center;
}

.star-rate {
    width: 30px;
    height: 30px;
    background-color: #73CF11;
    margin: 1px;
}

.star-rate:hover {
    cursor: pointer;
}

.star-rate img {
    position: relative;
    top: 5px;
    left: 4px
}

.star-rate:nth-child(5) {
    background-color: #DCDCE6;
}

.star-rate:nth-child(1):hover {
    background-color: #FF3722;
}

.star-rate:nth-child(2):hover {
    background-color: #FF8622;
}

.star-rate:nth-child(3):hover {
    background-color: #FFCE00;
}

.star-rate:nth-child(4):hover {
    opacity: 0.7;
}

.star-rate:nth-child(5):hover {
    background-color: #00B67A;
}

.info-block p {
    text-align: center;
    padding: 15px;
}

.info-container {
    max-width: 1250px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 30%);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    background: url('../img/arrow-first.svg'),
        url('../img/arrow-second.svg'),
        url('../img/arrow-third.svg');
    background-repeat: no-repeat;
    background-position: relative;
    background-position-x: 370px, 750px, 550px;
    background-position-y: 0px, 230px, 530px;
    padding-bottom: 260px;
}

.info-container h3 {
    font-size: 25px;
    color: #0B3B3C;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}

.info-container p {
    font-size: 18px;
    line-height: 32px;
    padding: 10px 10px 30px;
}

.products-block {
    grid-area: products-block;
}

.products-block h2 {
    font-weight: 400;
    padding: 60px 20px 20px;
}

.products-grid-container {
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 680px));
    grid-template-rows: 650px;
    grid-gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.products-container-block {
    background-color: #E8EFE9;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 20px 40px;
}

h4 {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #0B3B3C;
}

.products-image {
    height: 400px;
    justify-content: center;
}

.products-container-block p {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    padding: 10px 80px;
}

.products-container-block p a {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2px;
    color: #0B3B3C;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #0B3B3C;
}

.products-container-block a:hover {
    opacity: 0.7;
}

.consultation-container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #E8EFE9;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.view-more-block {
    width: 50%;
    padding: 75px 20px 75px 20px;
    justify-content: space-around;
    flex-direction: column;
}

.view-more-block p {
    text-align: left;
}

.new-mini-block {
    width: 50px;
    padding: 5px;
    background-color: #BDCDC5;
}

.consultation-container .new-mini-block p {
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1.5px;
    text-align: center;
}

.consultation-container h2 {
    font-weight: 700;
    padding: 20px 0px;
    text-align: left;
}

.consultation-container p {
    max-width: 600px;
    font-size: 16px;
    line-height: 29px;
}

.view-more-btn {
    width: 320px;
    background-color: #7E0707;
    color: #fff;
    size: 14px;
    line-height: 20px;
    border: none;
    padding: 15px 20px;
    margin: 30px 0px;
}

.view-more-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.view-more-block li:before {
    content: url("../img/list.svg");
    padding-right: 5px;
}

.icons-grid-block {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 15px;
    padding: 20px;
}

.icons-grid-block figure {
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-grid-block figure:hover {
    cursor: pointer;
    border: 1px solid #0B3B3C;
}

.icons-grid-block img {
    width: 50px;
}

.icons-grid-block figcaption {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #0B3B3C
}

.team-block {
    grid-area: team-block;
    padding: 20px;
}

.doctor-small-section {
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding: 20px;
}

.doctor-small-section p {
    padding: 5px;
}

.doctor-small-section img {
    margin: 0 auto;
}

.trastpilot-rating-block {
    height: 110px;
    padding: 20px;
    margin: 30px auto 30px;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    justify-content: space-between;
}

.trastpilot-rating-block span {
    font-size: 9px;
}

.trastpilot-rate-panel {
    width: 350px;
    justify-content: space-between;
    align-self: center;
}
.slider-block-container{
    max-width: 1920px;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider-block-item {
    width: 720px;
    height: 600px;
    background-color: #E8EFE9;
    margin: 5px;
    flex-direction: column;
    align-items: center;
}

.stars-block {
    width: 100px;
    margin: 0 auto;
    padding-top: 100px;
}

.slider-review-text {
    max-width: 90%;
    font-size: 28px;
    line-height: 45px;
    padding-top: 50px;
}

.nickname-container {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 150px;
}

.slider {
    position: relative;
    padding: 0px 60px;
}

.slider .slick-arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    margin: -30px 0px 0px 0px;
    top: 50%;
    z-index: 10;
    font-size: 0;
    background-color: #91AB9F;
    border-radius: 50%;
    border: none;
}
.slider .slick-arrow:hover {
    cursor: pointer;
    opacity: 0.7;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background-image: url('../img/arrow-slider-prev.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 8px;
    background-position-y: 10px;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background-image: url('../img/arrow-slider-next.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 12px;
    background-position-y: 10px;
}

.medical-team-container {
    max-width: 1150px;
    margin: 0 auto;
}

.medical-team-text {
    max-width: 70%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 42px;
    padding: 0px 20px;
}

.medical-team-container a {
    text-decoration: none;
    color: #7E0707;
}

.medical-team-block {
    flex-wrap: wrap;
    justify-content: center;
}

.doctor-block {
    flex-direction: column;
    padding: 20px;
}

.doctor-block a {
    font-size: 18px;
    line-height: 32px;
    color: #0B3B3C;
    font-weight: 400;
    text-decoration: none;
}

.doctor-block p {
    font-size: 16px;
    line-height: 30px;
    color: #91AB9F;
    text-align: left;
    padding: 5px 0px;
}

.medical-consultation-block {
    width: 100%;
    border-top: 1px solid #BDCDC5;
    margin: 0 auto;
    padding: 40px 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.medical-consultation-icon {
    padding: 10px;
}

.medical-consultation-text {
    max-width: 70%;
    margin-right: 50px;
    text-align: left;
}

.consultation-text {
    font-size: 20px;
    line-height: 43px;
    text-align: left;
}

.consultation-text-description {
    font-size: 15px;
    line-height: 29px;
    color: #91AB9F;
    text-align: left;
}

.consultation-btn {
    width: 350px;
    height: 50px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 400;
    background-color: #7E0707;
    border: none;
    margin: 10px;
}

.consultation-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.promotion-block {
    grid-area: promotion-block;

}

.promotion-block-container {
    max-width: 1440px;
    height: 820px;
    margin: 0 auto;
    align-items: center;
    padding: 180px;
    background-image: url('../img/anthony.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.promotion-review-text {
    max-width: 400px;
    line-height: 30px;
    padding: 20px;
    font-size: 18px;
    color: #fff;
}

.promotion-review-nickname {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hidden-header {
    display: none;
}

.promotion-buttons-block {
    width: 100%;
    background-color: #F3F7F4;
    padding: 40px;
    justify-content: center;
}

.promotion-buttons-block button {
    width: 220px;
    height: 50px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 400;
    background-color: #7E0707;
    border: none;
    margin: 10px;
}

.promotion-buttons-block button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.articles-header {
    text-transform: uppercase;
    font-size: 40px;
}

.articles-block-description {
    max-width: 560px;
    font-size: 23px;
    line-height: 43px;
    margin: 0 auto;
}

.container-of-articles {
    max-width: 1440px;
    padding: 30px;
    overflow-x: scroll;
    margin: 0 auto;
}

.article-block {
    width: 310px;
    height: 550px;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.article-text {
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    padding: 20px 0px;
    text-align: left;
}

.article-link {
    max-width: 105px;
    border-bottom: 2px solid #0B3B3C;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.footer-block {
    padding: 40px;
    background-color: #0B3B3C;
    flex-direction: column;
    align-content: center;
}
.footer-nav-block {
    max-width: 1080px;
    margin: 0 auto;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #6D8A83;
}
.contacts-container {
    width: 300px;
    display: block;
    margin-bottom: 30px;
}
.contacts-container-header {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2.5px;
    text-align: left;
    padding: 0px 10px;
}
.footer-header-description {
    padding: 10px;
    font-size: 14px;
    color: #6D8A83;
    text-align: left;
    line-height: 26px;
}
.footer-img-section {
    margin: 4px 10px;
}
.footer-menu-description {
    font-size: 12px;
    color: #6D8A83;
    text-align: left;
    line-height: 26px;
}

.footer-contact-link {
    font-size: 14px;
    line-height: 26px;
    color: #fff;
}
.footer-nav-container{
    align-items: baseline;
    flex-direction: column;
    margin-right: 50px;
    padding: 10px;
}
.footer-nav-header {
    font-size: 14px;
    color: #6D8A83;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 0px;
}

.footer-nav-panel {
    flex-direction: column;
    padding: 20px 0px;
}

.footer-nav-link {
    width: 300px;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 100;
}
.footer-nav-link::after {
    content: ">";
}
.footer-bottom-container {
    max-width: 1080px;
    padding: 40px;
    margin: 0 auto;
}
.logo-social-container {
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.social-media-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #6D8A83;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.footer-rights-list {
    margin-top: 40px;
    list-style: none;
    flex-wrap: wrap;
}

.footer-rights-list li a{
    font-size: 12px;
    line-height: 32px;
    padding: 20px;
    color: #fff;
}

.footer-company-address {
    font-size: 11px;
    line-height: 22px;
    color: #6D8A83;
    text-align: left;
    padding: 10px 20px;
}
.footer-copyright {
    font-size: 12px;
    line-height: 22px;
    color: #6D8A83;
    text-align: left;
    padding: 0px 20px;
    letter-spacing: 0.7;
}