@media(max-width:1250px) {
    .info-container {
        background: none;
        padding-bottom: 10px;
    }

    .service-info-block menu {
        flex-direction: column;
        align-items: baseline;
    }

    .service-info-block menu li {
        margin-top: 10px;
    }

    .icons-grid-block {
        grid-template-columns: repeat(3, 140px);
        grid-template-rows: repeat(3, 140px);
    }
}

@media(max-width:1020px) {

    .logo-container img {
        width: 125px;
    }

    .info-container {
        grid-template-columns: 350px;
        padding-top: 40px;
    }

    .info-container p {
        padding: 10px 10px 10px;
    }

    .consultation-container {
        flex-direction: column;
        align-items: center;
    }

    .view-more-block {
        width: 100%;
        align-items: center;
        padding: 25px 20px 25px 20px;
        text-align: center;
    }

    .view-more-block p {
        text-align: center;
    }

    .view-more-btn {
        margin: 30px 0px;
    }

    .icons-grid-block {
        grid-gap: 10px;
        padding: 0px;
    }

    .slider {
        padding: 0px;
    }

    .medical-consultation-block {
        padding: 10px 10px;
        margin-top: 0px;
        flex-direction: column;
    }

    .medical-consultation-text {
        max-width: 100%;
        margin-right: 0px;
        text-align: left;
    }

    .consultation-text {
        font-size: 18px;
        line-height: 38px;
        text-align: center;
    }

    .consultation-text-description {
        text-align: center;
    }
}


@media(max-width:768px) {

    .menu-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 50;
    }

    .logo {
        position: relative;
        z-index: 50;
    }

    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #000;
        height: 2px;
        transition: .3s ease;
    }

    .btn-line:nth-child(1) {
        top: 0;
    }

    .btn-line:nth-child(2) {
        top: 20px;
    }

    .btn-line:nth-child(3) {
        top: 20px;
    }

    .btn-line:nth-child(4) {
        top: 40px;
    }

    .menu-open .btn-line:nth-child(1) {
        transform: scaleX(0)
    }

    .menu-open .btn-line:nth-child(2) {
        transform: rotate(45deg);
    }

    .menu-open .btn-line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .menu-open .btn-line:nth-child(4) {
        transform: scaleX(0);
    }

    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(-100%);
        transition: .3s ease;
    }

    .menu-open .menu {
        transform: translateY(0);
    }

    .menu-item {
        font-size: 36px;
        padding: 50px 0;
    }

    .header-menu {
        display: none;
    }

    .buy-bucket {
        display: flex;
        justify-content: end;
        align-self: center;
        flex-grow: 1;
        flex-basis: 0;
    }

    /* main {
        padding: 50px 0px 10px 0px;
    } */

    .registration-block {
        padding: 0px 10px;
    }

    .registration-container {
        max-height: 500px;
    }

    .registration-container h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .services-container {
        flex-direction: column;
        padding: 20px;
    }

    .services-container div {
        padding: 10px;
    }

    .info-block {
        grid-area: info-block;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    h2 {
        font-size: 28px;
        line-height: 50px;
        text-align: center;
        color: #0b3b3c;
        padding: 20px 20px 20px;
    }

    .products-grid-container {
        padding: 0px;
        grid-template-columns: 100%;
        justify-content: center;
    }

    .products-block h2 {
        font-weight: 400;
        padding: 30px 20px 20px;
    }

    .products-image img {
        max-height: 300px;
        justify-content: center;
    }

    .products-container-block {
        padding: 10px 10px 20px;
    }

    .products-container-block p {
        padding: 10px 20px;
    }

    .consultation-container {
        max-width: 1400px;
        margin: 0 auto;
        background-color: #E8EFE9;
        justify-content: space-between;
        padding: 0px 0px 20px 0px;
        flex-wrap: wrap;
    }

    .trastpilot-rating-block {
        padding: 10px 0px;
        margin: 30px auto 30px;
    }

    .slider-block-item {
        max-width: 320px;
        height: 300px;
    }

    .stars-block {
        width: 100px;
        margin: 0 auto;
        padding-top: 50px;
    }

    .slider-review-text {
        font-size: 20px;
        line-height: 34px;
        padding: 20 20px;
    }

    .nickname-container {
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        padding-top: 50px;
    }

    .medical-team-text {
        max-width: 70%;
        font-size: 18px;
        line-height: 32px;
        padding: 0px 20px;
    }


    .medical-consultation-text {
        text-align: left;
    }

    .promotion-block-container {
        display: none;
    }

    .promotion-buttons-block {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .promotion-buttons-block button {
        width: 100%;
    }

    .articles-block-description {
        font-size: 18px;
        line-height: 32px;
    }

    .footer-block {
        padding: 20px;
    }

    .footer-bottom-container {
        padding: 20px 0px;
    }
}

@media(max-width:480px) {
    .registration-container {
        background-image: none;
    }

    .icons-grid-block {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }

    .icons-grid-block img {
        width: 40px;
    }

    .team-block {
        padding: 10px;
    }

    .logo-social-container {
        flex-direction: column;
    }
}